.card-container {
  max-width: 960px;
  margin: 0 auto;
  margin-top: 50px;
}

.slick-slider {
  /* max-width: 960px;
  margin: 0 auto; */
}

.slick-slide > div {
  margin: 0 10px;
}
.slick-list {
  margin: 0 -10px;
}

.card {
  border: 1px solid #fff;
  background: black;
  border-radius: 8px;
  overflow: hidden;
  height: 300px;
  color: #fff;
  cursor: pointer;
}

.card-top h1 {
  font-size: 0.9rem;
  margin: 20px;
}

.card-top > img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  /* background: black; */
}

.slick-prev {
  left: -40px;
}

.slick-next {
  right: -40px;
}

.slick-next:before,
.slick-prev:before {
  color: rgba(0, 0, 0, 0.7) !important;
  font-size: 24px !important;
}

@media (max-width: 480px) {
  .card-container {
    width: 75%;
  }
}
