.accordion-card {
  width: 80%;
  margin: 0 auto;
}

.accordion-title {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.accordion-title > div:nth-child(2) {
  color: red;
}

.accordion-content {
  padding: 10px;
  border: 1px solid #ccc;
  border-top: none;
}

.accordion-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.accordion-list > ul {
  padding-left: 10px;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.accordion-list > ul > li {
  margin: 6px 0;
}
